NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""
LDAP_URI=""
SSH_HOST="0.0.0.0"
CA_CERT=""
CA_CERT_HOST=""
NEXT_PUBLIC_TREE_PATH=""
DOCKER_HOST_TREE_PATH=""
DATABASE_URL="postgresql://user:pass@dbhost:5432/deepsirius-ui?schema=public"
PRIVATE_KEY_PASSPHRASE=""