# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
# Using postgresql:// scheme
# DB_HOST should be the name of the docker service in docker-compose.yml or the host when running locally i.e. localhost or 0.0.0.0
DB_HOST="0.0.0.0"
DB_USER=""
DB_PASSWORD=""
DB_NAME="deepsirius-ui"
DB_PORT="5432"
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"


# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://0.0.0.0:3000"

LDAP_URI=""
SSH_HOST=""
# Location of CA cert inside the docker container when running the app in docker or the path when running locally
CA_CERT=""
PRIVATE_KEY_PASSPHRASE=""
# Location of CA cert on the host machine when building the docker image
CA_CERT_HOST=""

# Client side vars start with prefix NEXT_PUBLIC_

# Path to be used by the app to access the tree
NEXT_PUBLIC_TREE_PATH="/mnt"
# Docker host path to be mounted inside the container at NEXT_PUBLIC_TREE_PATH
DOCKER_HOST_TREE_PATH=""
