# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
# development
# DATABASE_URL="file:./db.sqlite"
# production
DATABASE_URL="postgresql://user:password@db:5432/dbname?schema=public"
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB="dbname"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=""
NEXTAUTH_URL=""

# ldap
CA_CERT=""
LDAP_URI=""

# slurm manager node
SSH_HOST=""

# ssh
PRIVATE_KEY_PASSPHRASE=""

# storage
NEXT_PUBLIC_STORAGE_PATH=""
STORAGE_API_URL=""
STORAGE_API_KEY=""

# deepsirius cli
PROCESSING_CONTAINER_STORAGE_BIND="" 
PROCESSING_CONTAINER_PATH=""

# tensorboard api
TENSORBOARD_API_URL="https://tensorboard.example.com"
TENSORBOARD_API_KEY="key"